In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../../data/final/box_model_input_data_source.csv')
df.head()

,Index,Name of SAPRC species,Pasadena Source of data,Pasadena Method,Redlands Source of data,Redlands Method
0,1,O3,Chamber-measurement,O3 monitor,Chamber-measurement,O3 monitor
1,2,NO,Chamber measurement,NOx monitor,Chamber measurement,NOx monitor
2,3,NO2,Chamber measurement,NOx monitor,Chamber measurement,NOx monitor
3,4,NO3,Grid cell model,NaN,Grid cell model,NaN
4,5,N2O5,Ambient measurement,ICIMS,Grid cell model,NaN

In [26]:
list_index = df[(df['Pasadena Source of data']=='Grid cell model')&
                ~(df['Name of SAPRC species'].str.contains('RXN'))]['Index'].astype(str).to_list()
print("Number of species in Redlands from CTM: ", len(list_index))
print(", ".join(list_index))

Number of species in Redlands from CTM:  49
4, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 21, 25, 29, 33, 40, 42, 45, 47, 48, 49, 50, 51, 53, 55, 56, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 81, 83, 93, 94, 95, 96, 97, 98, 99, 100

In [25]:
list_index = df[(df['Redlands Source of data']=='Grid cell model')&
                ~(df['Name of SAPRC species'].str.contains('RXN'))]['Index'].astype(str).to_list()
print("Number of species in Redlands from CTM: ", len(list_index))
print(", ".join(list_index))

Number of species in Redlands from CTM:  56
4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 25, 29, 33, 40, 42, 45, 47, 49, 50, 51, 52, 53, 54, 55, 56, 62, 63, 64, 66, 67, 69, 70, 71, 72, 73, 74, 75, 79, 81, 83, 84, 93, 94, 95, 96, 97, 98, 99, 100